<h1>Comedians</h1>

<article id="statistics">
  <h2>Statistics</h2>
  <ul>
    <li>Average Age: <%= @average_age %></li>
    <li>Average TV Special Run Time: <%= @average_run_time %> minutes</li>
    <li>Total Number of TV Specials: <%= @specials.count %></li>
    <li>Unique List of Cities: <%= @unique_cities %></li>
  </ul>
</article>

<% @comedians.each do |comedian| %>
  <section id="comedian-<%= comedian.id %>">
    <h2><%= comedian.name %></h2>
      <ul class="info">
        <li>Age: <%= comedian.age %></li>
        <li>Hometown: <%= comedian.city %></li>
        <li>TV Specials: <%= comedian.specials.count %></li>
      </ul>
    <aside class="specials">
      <% comedian.specials.each do |special| %>
        <ul>
          <li><%= special.name %></li>
          <img class="thumbnail" src="<%= special.image_url %>" alt="<%= special.name %>_image">
          <li>Run-time: <%= special.run_time %></li>
        </ul>
      <% end %>
    </aside>
  </section>
<% end %>
