<h1>All Comedians</h1>

<% @comedians.each do |comedian| %>
  <div id="comedian-<%= comedian.id %>">
    <h2><%= comedian.name %></h2>
    <ul>
      <li>Age: <%= comedian.age %></li>
      <li>Hometown: <%= comedian.city %></li>
    </ul>
    <h3>Specials</h3>
    <% comedian.specials.each do |special| %>
      <h4><%= special.name %></h4>
      <img class="thumbnail" src="<%= special.image_url %>" alt="<%= special.name %>_image">
      <ul>
        <li>Run-time: <%= special.run_time %></li>
      </ul>
    <% end %>
  </div>
<% end %>
